@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&family=Noto+Sans+JP:wght@300;400;600;700&display=swap');

/* Set global styles */
* {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: column;
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  color: #171717;
}

div {
  display: flex;
}

a:-webkit-any-link {
  cursor: pointer;
}

h1 {
  line-height: 60px;
  font-size: 60px;
}

/* ------------ */
/* Reusable variables */
.rightMargin20 {
  margin-right: -20px;
}

/* Navigation */
.logo {
  height: 35px;
  vertical-align: middle;
}

.navigation {
  z-index: 200;
  width: 100%;
  height: 60px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  background: transparent;
  transition: 
    background 0.5s ease-out 0s, 
    border-bottom 0.2s ease-out 0s, 
    backdrop-filter 0.2s ease 0s;
  position: fixed;
  top: 0px;

}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navlink {
  opacity: 0.75;
  padding: 10px 20px;
  font-family: 'Noto Sans JP', sans-serif;
  color: inherit;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
  transition: opacity 0.1s ease 0s;
}

.navlink:hover {
  opacity: 1;
  padding: 10px 20px;
  font-family: 'Noto Sans JP', sans-serif;
  color: inherit;
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
}

.navlink-selected {
  text-decoration: underline !important;
  opacity: 1 !important;
}

/* ------------- */
/* Contents */
.page-title {
  min-height: 100vh;
  height: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background-color: #57A0D3;
}
